body {
    background-color: antiquewhite;
    font-family: sans-serif;
    font-style: normal;
    color: #2F281E;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 54px;
}

h5 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: -6px;
}

h6 {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px; 
    margin-bottom: -5px;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: -8px;
}

nav { /* Does it makes sense to do like this even if margin-top and top are the same? */
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 5px 20px;
    position: sticky;
    top: 20px;
    background-color: #FFF;
}

/* .nav-placement {
    background-color: pink;
    display: flex;
    justify-content: space-between;
} */

.menu-and-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* background-color: yellow; */
    align-items: baseline;
}

.menu-div {
    padding: 10px;
    margin-right: 20px;
    /* background-color: salmon; */
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}

.menu {
    margin: 10px;
    /* background-color: red; */
    /* color: #2F281E; */
    text-decoration: none;
}

.btn {
    height: 46px;
    width: 102px;
    margin-right: 14px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px
}

.sign-in {
    border: 2px solid #BCD0E5;
    background-color: #FFF;
    color: #173A56;
}

.sign-up { /* default black border? Looks like there is a shadow to the button?*/
    border: 2px solid #FF9900;
    background-color: #FF9900;
    color: #FFF;
}

header {
    min-height: 100vh;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    max-width: 500px;
    /* padding: 20px; */
    margin-right: 20px;
    margin-bottom: 20px;
}

.heading {
    /* color: #2F281E; */
    margin-bottom: 30px;
    /* padding: 20px; */
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
}

.header-paragraph {
    max-width: 499px; /*to make the text wrap at the right place, not sure if this is the best method*/
    margin-bottom: 45px;
    /* padding: 20px; */
    color: #544837;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
}

.get-started {
    background-color: #FF9900;
    color: #FFF;
    border: 2px solid #FF9900;
    width: 175px;
    height: 53px;
}

.watch-video {
    background-color: #FFF;
    color: #FF9900;
    border: none;
    text-decoration: underline;
    width: 175px;
    height: 53px;
}

.happy-people {
    margin: 0px, 20px;
}

main {
    background-color: aliceblue;
    min-height: 100vh;
}

.feature { /* FEATURE SECTION - button does not react to this code, do not know why */
    /* background-color: pink; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.feature-heading {
    max-width: 500px;
    /* background-color: yellow; */
}

/* h2 heading */

.feature-container {
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.feature-container-box {
    /* background-color: aqua; */
    width: 240px;
    height: 204px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    /* margin: 0, 20px;      - does not work/isn't needed?*/
    /* padding: 10px; */
}

.feature-icon {
    margin-bottom: -6px;
}

/* h5 heading */

/* .feature-paragraph {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
} */
/*this div solved the issue with the button not wanting to be centered*/
/* .feature-btn { 
    background-color: yellow;
    margin-top: 34px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
} */

.sign-up-caps { /* Not in center */
    background-color: #FF9900;
    color: #FFF;
    border: 2px solid #FF9900;
    width: 175px;
    height: 53px;
    margin-top: 30px;
    margin-bottom: 90px;
}

.effortless-validation { /* EFORTLESS VALIDATION SECTION */
    background-color: #544837;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .validation-container {
    background-color: #FF9900;
    display: flex;
    flex-direction: row;
} */

.validation-content {
    /* display: flex;
    flex-direction: column; */
    max-height: 530px;
    max-width: 500px;
    text-align: left;
    margin-right: 40px;
    padding: 10px;
}

.design-professionals {
    text-align: left;
    margin-top: 10px;
    margin-bottom: -5px;
}

.chat-phone {
    margin-left: 50px;
}